#presentation, .navActivate, .navSocialNetworks, #about {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#information, #titleInformation, #about h1, #about p, #about a {
    animation: move 1.5s;
    animation-delay: 250ms;
}

@keyframes move {
    from {
        opacity: 0;
        transform: translate(-35%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

[data-anime] {
    opacity: 0;
    transition: 2s;
}

[data-anime="left"] {
    transform: translate3d(-150px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(150px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0px, -150px, 0);
}
[data-anime="bottom"] {
    transform: translate3d(0px, 150px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}