/* Aminação faz a seção de apresentação, 
sobre min e nav lateral direito, 
aparecer, suavemente, quando a página abrir  */
#presentation, .navActivate, .navSocialNetworks, #about, #myPicture>img {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#information, 
#titleInformation, 
#about h1, 
#about p, 
#about a {
    animation: move 1.5s;
    animation-delay: 250ms;
}

@keyframes move {
    from {
        opacity: 0;
        transform: translate(-35%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* Aminação de scroll, 
para que os elementos, apareçam */
[data-anime] {
    opacity: 0;
    transition: 2s;
}

[data-anime="left"] {
    transform: translate3d(-150px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(150px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0px, -150px, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0px, 150px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/* Aminação de Flip Cards, 
no card da formação do SENAI E SENAC */

.flip-container {
    display: inline-block;
    perspective: 1000px;
}

.flipper {
    position: relative;
    min-height: 111px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-container:hover .flipper {
    transform: rotateX(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateX(180deg);
    background-color: #06A763;
    border: 1px solid black;
    margin-top: -20px;
    margin-left: 0px;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
    padding-top: 45px;
}

.back a {
    color: black;
    padding: 13px 10px;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
}

@media (max-width: 850px) {
    [data-anime="right"] {
        transform: translate3d(-150px, 0, 0);
    } 
}
@media (max-width: 540px) {
    #presentation {
        animation-name: none;
    }
    
}