@media (max-width: 1320px) {
    #cards {
        grid-template-columns: 350px 225px 350px;
    }
}

@media (max-width: 1200px) {
    .navSocialNetworks {
        display: none;
    }
    .navSocialNetworksPresentation{
        display: block;
        width: 250px;
        padding: 10px;
        border-radius: 25px;
        background-color: white;
        box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
        margin: 15px 1px 1px 1px;

    }
    .navSocialNetworksPresentation a{
        margin-left: 20px;
    }
    .generalFormatting {
        width: 90vw;
    }
    .navInternalLinks {
        width: 86vw;
        left: calc(50% - 43vw);
    }
    .navInternalLinks>ul a:nth-child(1) {
        display: none;
    }
    #myPicture>img {
        width: 25vw;
    }
    #formation>div {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-areas: "line card1 ." 
                             "line date1 ."
                             "line card2 ."
                             "line date2 ." 
                             "line card3 ."
                             "line date3 .";
    }
    #professionalExperience {
        padding-bottom: 50px;
    }
    #cards {
        grid-template-rows: 1fr 20px 1fr 20px 1fr 20px ;
        grid-template-columns: 10px 80vw;
        row-gap: 10px;
        margin-left: 0px;
    }
    #card3 {
        margin-left: 0px;
    }
    .line {
        width: 480px;
        top: -15px;
        left: -198px;
        transform: rotate(90deg);
    }
    #date1{
        grid-area: date1;
        top: 0px;
        left: 125px;
    }
    #date2{
        grid-area: date2;
        top: 0px;
        left: 125px;
    }
    #date3{
        grid-area: date3;
        top: 0px;
        left: 125px;
    }
    .triangle {
        display: none;
    }
    .square {
        top: 45px;
        left: 20px;
    }
    #square2 {
        left: 20px;
        top: 201px;
    }
    #square3 {
        left: 20px;
        top: 360px;
    }
    .cardPortfolio {
        margin: 15px auto;
    }
    .cardFreeCourses {
        grid-template-columns: 68px 3fr;
        padding-left: 5px;
        margin: 7px auto;
    }
    .cardFreeCourses p {
        line-height: normal;
        padding-top: 8px;
    }
}

@media (max-width: 870px) {
    .cardFreeCourses {
        width: 70vw;
    }
}

@media (max-width: 720px) {
    .navSocialNetworksPresentation{
        margin-top: 15px;
        margin-left: calc(43vw - 125px);
    }
    #presentation {
        grid-template-columns: repeat(auto-fit, minmax(340px, max-content));
        grid-template-areas: none;
    }
    #presentation div {
        margin-top: 30px;
        grid-area: inherit;
        margin-left: -50px;
    }
    .navInternalLinks {
        width: 93vw;
        left: calc(50% - 48vw);
        font-size: 0.9rem;
    }
    #myPicture>img {
        position: absolute;
        top: 75px;
        left: calc(50% - 80px);
        width: 150px;
        border-radius: 50%;
    }
    #freeCourses {
        padding: 20px 10px;
    }
    .cardFreeCourses {
        width: 80vw;
    }
}

@media (max-width: 540px) {
    body {
        font-size: 0.9rem;
    }
    h1, h2 {
        font-size: 1.2rem;
    }
    .generalFormatting>h1 {
        text-align: center;
    }
    #imageBackground {
        height: 450px;
    }
    #about {
        padding: 20px 6px 30px 8px;
        text-align: center;
    }
    #about span {
        margin-left: -15px;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .navActivate {
        top: 92vh;
    }

    .generalFormatting {
        width: 95vw;
    }
    .navInternalLinks {
        padding: 15px 5px;
        left: calc(50% - 47.5vw);
        font-size: 0.9rem;
    }
    .navInternalLinks>ul a:nth-child(7) {
        display: none;
    }
    #skills {
        padding: 20px 0px 30px 0px;
    }
    #skillsTitleNetworks {
        margin-top: 30px;
    }
    .progress-bar {
        width: 90%;
    }
    #formation {
        padding: 20px 0px 30px 0px;
    }
    #formation>div {
        grid-template-columns: 15px 1fr;
    }
    .cardFormation {
        width: 86vw;
        margin-left: 10px !important;
    }
    .cardFormation>h1 {
        font-size: 1rem;
    }
    .line {
        width: 430px;
        left: -198px;
    }
    .square {
        top: 39px;
        left: -4px;
    }
    #square2 {
        top: 175px;
        left: -4px;
    }
    #square3 {
        top: 325px;
        left: -4px;
    }
    #professionalExperience div {
        margin: auto;
    }
    #portfolio {
        padding: 20px 0px 30px 0px;
    }
    #portfolio>div {
        margin-left: 0px;
    }
    #spanRepositorio {
        margin-top: 2px;
    }
    #freeCourses {
        padding: 20px 0px;
    }
    #freeCourses>div {
        margin-left: -12px;
    }
    .cardFreeCourses {
        width: 89vw;
    }
    footer{
        margin-bottom: 60px;
    }
}

@media (max-width: 390px) {
    .square {
        top: 40px;
    }
    #square2 {
        top: 180px;
        left: -4px;
    }
    #square3 {
        top: 330px;
        left: -4px;
    }
    #date1 {
        left: 115px;
    }

    #date2 {
        left: 120px;
    }

    #date3 {
        left: 112px;
    }
}