@media (max-width: 1200px) {
    .navSocialNetworks{
        display: none;
    }
    .generalFormatting {
        width: 90vw;
    }
    .navInternalLinks{
        width: 86vw;
        left: calc(50% - 43vw);
    }
    .navInternalLinks > ul a:nth-child(1){
        display: none;
    }
    #myPicture>img {
        width: 25vw;
    }
    #formation>div {
        width: 85vw;
        margin-left: -40px;
    }
    .formation {
        margin-left: 15px;
    }
    .formation::before {
        content: none;
    }
    .marker {
        display: none;
    }
    .line {
        position: absolute;
    }
    #invertedFormation {
        margin-left: -24px !important;
        margin-top: 30px;
    }
}

@media (max-width: 720px) {
    #presentation {
        grid-template-columns: repeat(auto-fit, minmax(340px, max-content));
        grid-template-areas: none;
    }
    #presentation div {
        margin-top: 30px;
        grid-area: inherit;
        margin-left: -50px;
    }
    .navInternalLinks{
        width: 95vw;
        left: calc(50% - 48vw);
        font-size: 0.9rem;
    }
    #myPicture>img {
        position: absolute;
        top: 75px;
        left: calc(50% - 80px);
        width: 150px;
        border-radius: 50%;
    }
}

@media (max-width: 540px) {
    body {
        font-size: 1rem;
    }
    h1, h2 {
        font-size: 1.2rem;
    }
    #imageBackground {
        height: 450px;
    }
    
    #about {
        padding: 20px 6px 30px 8px;
        text-align: center;
    }
    #about span{
        margin-left: -15px;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .generalFormatting {
        width: 95vw;
    }
    .navInternalLinks{
        padding: 15px 5px;
        left: calc(50% - 47.5vw);
        font-size: 0.9rem;
    }
    .navInternalLinks > ul a:nth-child(7){
        display: none;
    }
    #skills {
        padding: 20px 0px 30px 0px;
    }
    .progress-bar {
        width: 90%;
    }
    #professionalExperience div {
        margin: auto;
    }
    #portfolio {
        padding: 20px 0px 30px 15px;
    }
    #spanRepositorio {
        margin-top: 2px;
    }
}