@media (max-width: 1200px) {
    .navSocialNetworks{
        display: none;
    }
    .generalFormatting {
        width: 90vw;
    }
    .navInternalLinks{
        width: 86vw;
        left: calc(50% - 43vw);
    }
    .navInternalLinks > ul a:nth-child(1){
        display: none;
    }
    #myPicture>img {
        width: 25vw;
    }
    #formation > div{
      margin-top: 30px;
      display: grid;
      grid-template-columns: 20px 1fr;
    }
    .line{
        width: 320px;
        top: 135px;
        left: -120px;
        transform: rotate(90deg);
    }
    .cardPortfolio{
        margin: 15px auto;
    }
    .cardFreeCourses{
        grid-template-columns: 68px 3fr;
        padding-left: 5px;
        margin: 7px auto;
    }
    .cardFreeCourses p {
        line-height: normal;
        padding-top: 8px;
    }

}

@media (max-width: 870px){
    .cardFreeCourses{
        width: 70vw;
    }
}


@media (max-width: 720px) {
    #presentation {
        grid-template-columns: repeat(auto-fit, minmax(340px, max-content));
        grid-template-areas: none;
    }
    #presentation div {
        margin-top: 30px;
        grid-area: inherit;
        margin-left: -50px;
    }
    .navInternalLinks{
        width: 95vw;
        left: calc(50% - 48vw);
        font-size: 0.9rem;
    }
    #myPicture>img {
        position: absolute;
        top: 75px;
        left: calc(50% - 80px);
        width: 150px;
        border-radius: 50%;
    }
    #freeCourses{
        padding: 20px 10px;
    }

    .cardFreeCourses{
        width: 80vw;
    }
}

@media (max-width: 540px) {
    body {
        font-size: 1rem;
    }
    h1, h2 {
        font-size: 1.2rem;
    }
    .generalFormatting > h1{
        text-align: center;
    }
    #imageBackground {
        height: 450px;
    }
    
    #about {
        padding: 20px 6px 30px 8px;
        text-align: center;
    }
    #about span{
        margin-left: -15px;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .generalFormatting {
        width: 95vw;
    }
    .navInternalLinks{
        padding: 15px 5px;
        left: calc(50% - 47.5vw);
        font-size: 0.9rem;
    }
    .navInternalLinks > ul a:nth-child(7){
        display: none;
    }
    #skills {
        padding: 20px 0px 30px 0px;
    }
    .progress-bar {
        width: 90%;
    }
    #professionalExperience div {
        margin: auto;
    }
    #portfolio {
        padding: 20px 0px 30px 15px;
    }
    #spanRepositorio {
        margin-top: 2px;
    }
    #freeCourses > div{
        margin-left: -12px;
    }
    .cardFreeCourses {
        width: 89vw;
    }

 
}