* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

h1, h2 {
    font-weight: normal;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    list-style: none;
}

#imageBackground {
    height: 450px;
    margin-left: 0px;
}

#imageBackground>picture>img {
    width: 100vw;
    z-index: -1;
    max-height: 370px;
    position: absolute;
}

.navSocialNetworks {
    display: grid;
    grid-template-columns: 1fr;
    width: 70px;
    height: 256px;
    position: fixed;
    left: 0px;
    top: calc(50vh - 128px);
    border-radius: 0px 40px 40px 0px;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
}

.navSocialNetworks>a {
    margin-top: 25px;
    margin: auto;
}

.navSocialNetworks>a:hover {
    zoom: 1.2;
}

.generalFormatting {
    max-width: 1100px;
    width: 81vw;
    margin: 35px auto;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
}

#presentation {
    margin-top: -300px;
    padding: 23px 30px 23px 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "myPicture titleInformation titleInformation" "myPicture  information information";
}

#myPicture {
    grid-area: myPicture;
}

#titleInformation {
    grid-area: titleInformation;
}

#information {
    grid-area: information;
    line-height: 1.6;
}

#titleInformation, #information {
    margin-left: 10px;
}

#about {
    text-align: justify;
    padding: 20px 33px 30px 48px;
}

#about h1 {
    margin-bottom: 30px;
    margin-left: -15px;
}

#about p {
    margin-bottom: 20px;
}

#btnDownloadCurriculo {
    display: grid;
    grid-template-columns: 50px 88px;
    margin-top: 10px;
    background-color: #06A763;
    color: #fff;
    padding: 13px 10px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    margin: auto;
}

#btnDownloadCurriculo:hover {
    background-color: #007738;
}

#about span {
    margin-top: 3px;
    width: 100px;
}

.navInternalLinks {
    max-width: 1080px;
    width: 80vw;
    font-size: 1.2rem;
    padding: 15px 30px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
    color: black;
    margin: auto;
    z-index: 3;
}

.navInternalLinks ul {
    display: flex;
    justify-content: space-evenly;
}

.navInternalLinks a {
    color: black;
}

.navInternalLinks a:nth-child(1) {
    margin-right: 12%;
}

.navActivate {
    position: fixed;
    top: 15px;
    left: calc(50% - 540px);
    transition: 2s;
}

#skills {
    padding: 20px 30px 30px 30px;
}

#skills p {
    margin-top: 10px;
}

.softwareDevelopmentSkills, .hardwareAndNetworkingSkills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin: 0px 0px 30px 30px;
    column-gap: 20px;
}

.softwareDevelopmentSkills, div, p, .hardwareAndNetworkingSkills, div, p {
    margin-left: 5px;
}

.softwareDevelopmentSkills>div h2 {
    margin: 20px 0px 10px 0px;
}

.progress-bar {
    max-width: 480px;
    width: 98%;
    height: 13px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    display: flex;
}

.progress-bar::before {
    content: "";
    width: calc(var(--progress) * 1%);
    background-color: #06A763;
    border-radius: 8px;
}

/* SEÇÃO DA FORMAÇÃO */

#formation {
    padding: 20px 20px 30px 20px;
}

#formation>div{
    margin-top: 30px;    
}

#cards{
    display: grid;
    grid-template-columns: 350px 320px 350px;
    grid-template-rows: 1fr 76px 1fr;
    grid-template-areas: "card1 . card2"
                         "line line line"
                         ". card3 .";
}

#card1 {
    grid-area: card1;
}

#card2 {
    grid-area: card2;
}

#card3 {
    grid-area: card3;
    margin-left: -15px;
}

.cardFormation{
    max-width: 350px;
    width: 80vw;
    margin: 1px 1px 1px 1px;
    padding: 20px 0px 10px 0px;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
    text-align: center;
}

.cardFormation > h1{
    font-size: 1.1rem;
}

.line {
    border-bottom: 1px dashed #000;
    position: relative;
    padding-bottom: 12px;
    grid-area: line;
    align-self: center;
}

.square{
    width: 30px;
    height: 30px;
    top: 30px;
    left: 150px;
    position: relative;
    background-color: #06A763;
    border: 1px solid black;
    grid-area: line;
    z-index: 1;
}

.square > div{
    width: 10px;
    height: 10px;
    margin: 9px auto;
    background-color: white;
    border: 1px solid black;
}

#square2{
    left: 490px;
}

#square3{
    left: 830px;
}

/* FIM DA FORMAÇÃO */

#professionalExperience {
    padding-bottom: 70px;
}

#professionalExperience h1 {
    margin: 20px 0px 30px 30px;
}

#professionalExperience div {
    display: table;
    max-width: 540px;
    width: 95%;
    height: 96px;
    max-height: 96px;
    margin-left: 55px;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
}

#professionalExperience > div:hover{
    border: 1px #06A763 solid;
}

#professionalExperience>div p {
    padding: 0px 30px 0px 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#portfolio {
    padding: 20px 30px 30px 30px;
}

#portfolio>h1 {
    margin-bottom: 15px;
}

#portfolio>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.cardPortfolio {
    max-width: 320px;
    width: 80vw;
    padding: 18px;
    text-align: justify;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
}

.cardPortfolio:hover {
    border: 1px solid #06A763;
    padding: 17px;
}

.cardPortfolio>h1 {
    margin-bottom: 30px;
}

.cardPortfolio a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 140px;
    height: 40px;
    margin-top: 20px;
    padding: 7px 0px 0px 10px;
    font-weight: bolder;
    font-size: 14px;
    border-radius: 5px;
    background-color: #06A763;
    color: #fff;
    margin-bottom: 10px;
}

#spanRepositorio {
    margin-top: 4px;
    width: 90px;
}

.cardPortfolio a:hover {
    background-color: #007738;
}

.category {
    display: inline-block;
    font-weight: bolder;
    color: #fff;
    background-color: #06A763;
    padding: 1px 10px 1px 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#freeCourses {
    padding: 20px 30px;
}

#freeCourses>h1 {
    margin-bottom: 15px;
}

#freeCourses>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.cardFreeCourses {
    max-width: 470px;
    width: 40vw;
    display: grid;
    grid-template-columns: 100px 3fr;
    padding: 15px 4px 15px 20px;
    margin: 15px 0px 15px 5px;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
}

.cardFreeCourses:hover{
    border: 1px solid #06A763;
    border-radius: 25px;
    transition: 1s;

}

.cardFreeCourses p {
    line-height: 53px;
    text-align: center;
}

footer {
    width: 100vw;
    height: 70px;
    display: table;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
}

footer div {
    display: table-cell;
    vertical-align: middle;
}

footer h1 {
    text-align: center;
    font-size: 1rem;
}
