@media (max-width: 1300px) {
    #titleInformation, #information {
        margin-left: 10px;
    }
    .generalFormatting {
        width: 90vw;
    }
    #myPicture>img {
        width: 25vw;
    }
}




@media (max-width: 720px) {
    #presentation {
        grid-template-columns: repeat(auto-fit, minmax(340px, max-content));
        grid-template-areas: none;
    }
    #presentation div {
        margin-top: 30px;
        grid-area: inherit;
        margin-left: -50px;
    }
    #myPicture>img {
        position: absolute;
        top: 75px;
        left: 40%;
        width: 150px;
        border-radius: 50%;
    }
    
}

@media (max-width: 540px) {
    * {
        font-size: 1rem;
    }
    h1, h2 {
        font-size: 1.2rem;
    }
    #imageBackground {
        height: 450px;
    }
    #myPicture>img {
        left: 30%;
    }
    #about {
        padding: 20px 6px 30px 8px;
        text-align: center;
    }
    .generalFormatting {
        width: 95vw;
    }
}


