* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

h1, h2 {
    font-weight: normal;
    font-size: 1.4rem;
}

#imageBackground {
    height: 450px;
}

#imageBackground>picture>img {
    width: 100vw;
    z-index: -1;
    max-height: 370px;
    position: absolute;
}

.generalFormatting {
    max-width: 1100px;
    width: 81vw;
    margin: 35px auto;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
}

#presentation {
    margin-top: -300px;
    padding: 23px 30px 23px 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "myPicture titleInformation titleInformation" "myPicture  information information";
}

#myPicture {
    grid-area: myPicture;
}

#titleInformation {
    grid-area: titleInformation;
}

#information {
    grid-area: information;
    line-height: 1.6;
}

#about {
    text-align: justify;
    padding: 20px 33px 39px 48px;
}

#about h1 {
    margin-bottom: 30px;
    margin-left: -15px;
}

#skills {
    padding: 20px 30px 30px 30px;
}

#skills h1 {
    margin-left: 10px;
}

#skills h2 {
    margin: 20px 0px 10px 30px;
}

#skills p {
    margin-top: 10px;
}

#softwareDevelopmentSkills, 
#hardwareAndNetworkingSkills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin: 0px 0px 30px 30px;
    column-gap: 20px;
}

.progress-bar {
    max-width: 480px;
    width: 98%;
    height: 13px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    display: flex;
}

.progress-bar::before {
    content: "";
    width: calc(var(--progress) * 1%);
    background-color: #06A763;
    border-radius: 8px;
}

#formation {
    height: 420px;
}

#professionalExperience {
    height: 250px;
}

#portfolio {
    height: 920px;
}

#freeCourses {
    height: 600px;
}

footer {
    width: 100vw;
    height: 70px;
    background-color: slategray;
}